[mysqld]
binlog_cache_size=4K
binlog_stmt_cache_size=4K
bulk_insert_buffer_size=0
console
default-storage-engine = MyISAM
host_cache_size=0
join_buffer_size=128
key_buffer_size=8
max_allowed_packet = 1M
max_connections=10
max_heap_table_size=16K
myisam_sort_buffer_size = 8M
net_buffer_length=1K
open-files-limit = 50
performance_schema = off
query_cache_size = 0
read_buffer_size = 8200
read_rnd_buffer_size = 8200
skip-external-locking
skip-grant-tables
skip-innodb
skip-name-resolve
sort_buffer_size = 32K
table_open_cache = 64
thread_cache_size = 0
thread_stack = 131072
tmp_table_size = 1K
user = root